body {
    background: url('./mlb2022.jpg') no-repeat center center fixed;
    background-size: cover;
    font-family: 'Arial', sans-serif;
    color: #ffffff;
}

/*
img {
    border: 3px solid #ddd;
    border-radius: 4px;
    padding: 5px;
    width: 300px;
}
*/
nav {
    background-color: #092c5c; /* Deep blue, reminiscent of MLB logo */
    padding: 10px 0;
}

nav ul {
    list-style: none;
    padding: 0;
    margin: 0;
    text-align: center;
}

nav ul li {
    display: inline;
    margin: 0 30px;
}

nav ul li a {
    color: #ffffff;
    text-transform: uppercase;
    text-decoration: none;
    padding: 5px 10px;
    transition: color 0.3s ease;
}

nav ul li a:hover {
    color: #092c5c; /* Accent color on hover */
}

/* Updated container styles */
.container {
    background-color: rgba(255, 255, 255, 0.85); /* Semi-transparent black for content */
    padding: 20px;
    border-radius: 5px;
    margin: 30px auto; /* Centered with automatic margin and specified top margin */
    box-shadow: 0 8px 6px -6px black;
    width: 80%; /* Adjust width as needed */
    max-width: 960px; /* Maximum width, adjust as needed */
}

/* Updated heading and link styles */
h1 {
    text-align: center;
    color: #092c5c; /* Accent color for headings */
    font-size: 80px; /* Increased font size */
}

a {
    color: #092c5c;
    transition: color 0.3s ease;
    font-size: 30px; /* Increased font size for links */
}

a:hover {
    color: #092c5c;
}

.footer {
    background-color: #092c5c;
    color: white;
    text-align: center;
    padding: 10px 0;
    position: relative;
    bottom: 0;
    width: 100%;
}
